// Color
$td-color-neutral-0: #FFFFFF;
$td-color-neutral-20: #F9F9F9;
$td-color-neutral-30: #F5F5F5;
$td-color-neutral-50: #D9D9D9;
$td-color-neutral-60: #BFBFBF;
$td-color-neutral-70: #737373;
$td-color-neutral-80: #595959;
$td-color-neutral-90: #262626;
$td-color-neutral-100: #000000;
$td-color-magenta-50: #CF1863;
$td-color-red-50: #EB2A2E;
$td-color-red-40: #E74243;
$td-color-red-30: #EE7879;
$td-color-red-20: #F5AEAE;
$td-color-red-10: #FCE4E4;
$td-color-red-0: #FFF6F6;
$td-color-black-10: #272727;

// Typography
$td-font-size-10: 7px;
$td-font-size-20: 10px;
$td-font-size-30: 12px;
$td-font-size-60: 14px;
$td-font-size-70: 16px;
$td-font-size-80: 18px;
$td-font-size-90: 24px;
$td-font-size-100: 32px;
$td-line-height-10: 10px;
$td-line-height-20: 15px;
$td-line-height-30: 17px;
$td-line-height-60: 20px;
$td-line-height-70: 22px;
$td-line-height-80: 28px;
$td-line-height-90: 31px;
$td-line-height-100: 42px;
$td-font-weight-400: 400;
$td-font-weight-600: 600;
$td-font-family: 'Inter', sans-serif;

// Size
$td-size-20: 16px;
$td-size-30: 20px;
$td-size-40: 24px;
$td-size-50: 32px;
$td-size-60: 40px;